<!-- modify this form HTML and place wherever you want your form -->
<form
  action="https://formspree.io/f/xvolldeo"
  method="POST"
>
  <label>
    <label for="message" required="">Your email<span id="required_note">*</span></label>
    <input type="email" name="email" placeholder="email@domain.tld">
  </label>
  <label>
    Optional message:
    <textarea placeholder="Keep me updated about this project." name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <div id="required_note">* Required</div>
  <button type="submit">Send</button>
</form>
