<!-- modify this form HTML and place wherever you want your form -->
<form id="fs-frm"
  action="https://formspree.io/f/xvolldeo"
  method="POST"
>
    <label for="message" required="">Your email<span id="required_note">*</span></label>
    <input type="email" name="email" placeholder="email@domain.tld">
    <label>Optional message:  </label>
    <textarea placeholder="Describe your request." name="message"></textarea>
  <!-- your other form fields go here -->
  <div id="required_note">* Required</div>
  <button type="submit">Send</button>
</form>
